@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

header{
    background-color:   #3e444b;
    width:              100%;
    padding-top:        5px;
    padding-bottom:     5px;
    height:             auto;
    margin-bottom:      10px;
    color: #FFFFFF;
    text-align:         center;
    
}

footer {
    width:              100%;
    background-color:   #3e444b;
    text-align:         center;
    color:              #FFFFFF;
    font-size:          12px;
    bottom: 0%;
    position: fixed  ;
    margin-top: 10px;
}




@media only screen and (min-width: 601px){
   
   #logo{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 5px;
    
   }
   
    #logo:hover {
        border-radius:5%;
    -webkit-border-radius:5%;
    box-shadow: 0px 0px 15px 15px #ffffff;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff;    
    }
   

    nav{
        width: 30%;
        float: left;
    }

    button:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: red;
        box-shadow: #3e444b;
        box-shadow: 20px;
    }
    
    main{width: 70%;
    float: right;
    column-count: 2;
    padding: 25px;  
    }
    
    #img1{
        width: 250px;
        margin-top: 40px;
        margin-left: 30px;
    }

    #img1:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        box-shadow: 0px 0px 15px 15px gray;
        -webkit-box-shadow: 0px 0px 15px 15px gray;
    }

    .clear{
        clear: both;
    }
}

@media only screen and (max-width: 600px){

    #logo{
        float: left;
        border-radius: 50px;
        margin-left: 10px;
        margin-top: 3px;
        box-shadow: 0px 0px 15px 15px #ffffff;
        -webkit-box-shadow: 0px 0px 15px 15px #ffffff;
       }
       
        nav{
            width: 100%;
            float: center;
    
        }
        
        main{width: 100%;
        float: center;
        column-count: 2;
        padding: 25px;  
        }

        #img1{
            float: center;
            width: 500px;
        }

    }